<section class = ShowTareas>

<h3>¡Hola! estas son tus tareas:</h3>

@foreach(Tarea tarea in ViewBag.Tareas){
    <div>
<p>TITULO: @tarea.Titulo</p>
<p>DESCRIPCION: @tarea.Descripcion</p>    
<p>FECHA DE CREACION: @tarea.Fecha</p>    
<p>TERMINADA: @tarea.Finalizado</p> 
<a href='@Url.Action("editTarea", "Home", new {id=tarea.ID})'> Editar </a>
<a href='@Url.Action("endTarea", "Home", new {id=tarea.ID})'> Eliminar </a>
</div>
}

<a href='@Url.Action("IndexOpciones", "Home")'> Inicio </a> 
 
</section>