<section class = ShowTareas>
<h3>¡Hola! estas son tus tareas:</h3>
@foreach(Tarea tarea in ViewBag.Tareas){
<p>Titulo: @tarea.Titulo</p>
<p>Descripción: @tarea.Descripcion</p>    
<p>Fecha de creación: @tarea.Fecha</p>    
<p>Terminada: @tarea.Finalizado</p> 
}
<a href='@Url.Action("newTarea", "Home")'> Inicio </a>  
</section>